<a href="https://colab.research.google.com/github/steve122192/DS-Unit-2-Applied-Modeling/blob/master/module2-wrangle-ml-datasets/LS_DS_232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [145]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

Requirement already satisfied: category_encoders==2.* in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.17.5)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.25.3)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.14.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders==2.*) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.6.1)
Requirement already satisfied: pandas-profiling==2.* in /usr/local/lib/python3.6/dist-packages (2.4.0)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (3.1.2)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (2.10.3)
Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (4.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.1.12)
Requirement already satisfied: phik>=0.9.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.9.8)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.4.2)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (1.0.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.25.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.*) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.*) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.*) (2.4.6)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.*) (1.17.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.*) (2.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling==2.*) (1.1.1)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.*) (1.4.1)
Requirement already satisfied: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.*) (5.3.4)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.*) (0.47.0)
Requirement already satisfied: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.*) (0.14.1)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.*) (5.6.1)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.*) (5.3.4)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling==2.*) (0.9.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.*) (3.13)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling==2.*) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.4->pandas-profiling==2.*) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling==2.*) (42.0.2)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (1.8.1)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (8.0.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (19.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (20.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (0.1.8)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (1.4.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (0.13.1)
Requirement already satisfied: llvmlite>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling==2.*) (0.31.0)
Requirement already satisfied: pylint>=1.4.5 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.*) (2.4.4)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (5.0.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (2.1.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (4.3.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (4.6.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (3.1.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (0.4.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (0.6.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.*) (17.0.0)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.*) (4.5.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.*) (1.0.0)
Requirement already satisfied: astroid<2.4,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.*) (2.3.3)
Requirement already satisfied: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.*) (0.6.1)
Requirement already satisfied: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.*) (4.3.21)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (2.6.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (4.4.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.*) (0.5.1)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.*) (1.4.1)
Requirement already satisfied: lazy-object-proxy==1.4.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.*) (1.4.3)
Requirement already satisfied: wrapt==1.11.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.*) (1.11.2)

In [169]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

KeyboardInterrupt: ignored

In [170]:
nfl=pd.read_csv('nfl.csv')
nfl

      Rk          Player  From  ... Passing T Passing 4QC Passing GWD
0      1      Drew Brees  2001  ...         0          35          50
1      2       Tom Brady  2000  ...         0          36          45
2      3  Peyton Manning  1998  ...         0          43          54
3      4     Brett Favre  1991  ...         0          28          43
4      5   Philip Rivers  2004  ...         0          27          32
..   ...             ...   ...  ...       ...         ...         ...
546  528    Todd Whitten  1987  ...         0         NaN         NaN
547  529  John Witkowski  1988  ...         0         NaN         NaN
548  530   Tory Woodbury  2001  ...         0         NaN         NaN
549  531     Scott Woolf  1987  ...         0         NaN         NaN
550  532      Todd Husak  2000  ...         0         NaN         NaN

[551 rows x 31 columns]

In [0]:
nfl = nfl[nfl['Rk'] != 'Rk']

In [172]:
nfl['To'] = pd.to_numeric(nfl['To'])
nfl['From'] = pd.to_numeric(nfl['From'])
nfl['Games GS'] = pd.to_numeric(nfl['Games GS'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [173]:
nfl['Seasons'] = (nfl['To']-nfl['From'])+1
nfl = nfl[['Player','Seasons','Games GS']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
nfl['starts_per_season'] = nfl['Games GS']/nfl['Seasons']

In [175]:
nfl = nfl[['Player','starts_per_season']]
nfl

             Player  starts_per_season
0        Drew Brees          14.421053
1         Tom Brady          14.150000
2    Peyton Manning          14.722222
3       Brett Favre          14.900000
4     Philip Rivers          14.000000
..              ...                ...
546    Todd Whitten           0.000000
547  John Witkowski           0.000000
548   Tory Woodbury           0.000000
549     Scott Woolf           0.000000
550      Todd Husak           0.000000

[532 rows x 2 columns]

In [176]:
college = pd.read_csv('college.csv')
college

        Rk          Player  From  ... Passing TD Passing Int Passing Rate
0        1     Case Keenum  2007  ...        155          46        160.6
1        2    Kellen Moore  2008  ...        142          28        169.0
2        3  Graham Harrell  2005  ...        134          34        154.4
3        4    Colt Brennan  2005  ...        131          42        167.6
4        5     Rakeem Cato  2011  ...        131          44        145.8
...    ...             ...   ...  ...        ...         ...          ...
1451  1396    Jordy Joseph  2013  ...          6           3        122.7
1452  1397    Blake Jurich  2011  ...          6           7        118.9
1453  1398        Joe Kemp  2008  ...          6           7        139.4
1454  1399     Jeff Lockie  2013  ...          6           5        121.9
1455  1400    Carl Meadows  2004  ...          6          10         94.4

[1456 rows x 13 columns]

In [0]:
df = pd.merge(nfl, college, on='Player', how='outer')

In [178]:
df.dropna(subset=['Rk'], inplace=True)

cols = df.columns[3:5]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

cols = df.columns[6:]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

df.dtypes

Player                object
starts_per_season    float64
Rk                    object
From                 float64
To                   float64
School                object
G                    float64
Passing Cmp          float64
Passing Att          float64
Passing Pct          float64
Passing Yds          float64
Passing TD           float64
Passing Int          float64
Passing Rate         float64
dtype: object

In [179]:
df

                  Player  starts_per_season  ... Passing Int  Passing Rate
0             Drew Brees          14.421053  ...        12.0         132.4
4          Philip Rivers          14.000000  ...        34.0         144.1
5            Eli Manning          14.625000  ...        35.0         137.7
6     Ben Roethlisberger          13.500000  ...        34.0         151.3
7              Matt Ryan          15.750000  ...        37.0         126.3
...                  ...                ...  ...         ...           ...
1775        Jordy Joseph                NaN  ...         3.0         122.7
1776        Blake Jurich                NaN  ...         7.0         118.9
1777            Joe Kemp                NaN  ...         7.0         139.4
1778         Jeff Lockie                NaN  ...         5.0         121.9
1779        Carl Meadows                NaN  ...        10.0          94.4

[1456 rows x 14 columns]

In [180]:
df['starts_per_season'].value_counts(normalize=True)

0.000000     0.198020
2.000000     0.054455
1.000000     0.049505
0.500000     0.039604
5.000000     0.034653
               ...
13.777778    0.004950
5.666667     0.004950
2.444444     0.004950
12.166667    0.004950
3.571429     0.004950
Name: starts_per_season, Length: 102, dtype: float64

In [181]:
df.isna().sum().sort_values()

Player                  0
Rk                      0
From                   56
To                     56
G                      56
Passing Cmp            56
Passing Att            56
Passing Pct            56
Passing Yds            56
Passing TD             56
Passing Int            56
Passing Rate           56
School                175
starts_per_season    1254
dtype: int64

In [182]:
import numpy as np
df[df['From'].isna()]

     Player  starts_per_season  Rk  ...  Passing TD  Passing Int Passing Rate
540  Player                NaN  Rk  ...         NaN          NaN          NaN
541  Player                NaN  Rk  ...         NaN          NaN          NaN
542  Player                NaN  Rk  ...         NaN          NaN          NaN
543  Player                NaN  Rk  ...         NaN          NaN          NaN
544  Player                NaN  Rk  ...         NaN          NaN          NaN
545  Player                NaN  Rk  ...         NaN          NaN          NaN
546  Player                NaN  Rk  ...         NaN          NaN          NaN
547  Player                NaN  Rk  ...         NaN          NaN          NaN
548  Player                NaN  Rk  ...         NaN          NaN          NaN
549  Player                NaN  Rk  ...         NaN          NaN          NaN
550  Player                NaN  Rk  ...         NaN          NaN          NaN
551  Player                NaN  Rk  ...         NaN          NaN          NaN
552  Player                NaN  Rk  ...         NaN          NaN          NaN
553  Player                NaN  Rk  ...         NaN          NaN          NaN
554  Player                NaN  Rk  ...         NaN          NaN          NaN
555  Player                NaN  Rk  ...         NaN          NaN          NaN
556  Player                NaN  Rk  ...         NaN          NaN          NaN
557  Player                NaN  Rk  ...         NaN          NaN          NaN
558  Player                NaN  Rk  ...         NaN          NaN          NaN
559  Player                NaN  Rk  ...         NaN          NaN          NaN
560  Player                NaN  Rk  ...         NaN          NaN          NaN
561  Player                NaN  Rk  ...         NaN          NaN          NaN
562  Player                NaN  Rk  ...         NaN          NaN          NaN
563  Player                NaN  Rk  ...         NaN          NaN          NaN
564  Player                NaN  Rk  ...         NaN          NaN          NaN
565  Player                NaN  Rk  ...         NaN          NaN          NaN
566  Player                NaN  Rk  ...         NaN          NaN          NaN
567  Player                NaN  Rk  ...         NaN          NaN          NaN
568  Player                NaN  Rk  ...         NaN          NaN          NaN
569  Player                NaN  Rk  ...         NaN          NaN          NaN
570  Player                NaN  Rk  ...         NaN          NaN          NaN
571  Player                NaN  Rk  ...         NaN          NaN          NaN
572  Player                NaN  Rk  ...         NaN          NaN          NaN
573  Player                NaN  Rk  ...         NaN          NaN          NaN
574  Player                NaN  Rk  ...         NaN          NaN          NaN
575  Player                NaN  Rk  ...         NaN          NaN          NaN
576  Player                NaN  Rk  ...         NaN          NaN          NaN
577  Player                NaN  Rk  ...         NaN          NaN          NaN
578  Player                NaN  Rk  ...         NaN          NaN          NaN
579  Player                NaN  Rk  ...         NaN          NaN          NaN
580  Player                NaN  Rk  ...         NaN          NaN          NaN
581  Player                NaN  Rk  ...         NaN          NaN          NaN
582  Player                NaN  Rk  ...         NaN          NaN          NaN
583  Player                NaN  Rk  ...         NaN          NaN          NaN
584  Player                NaN  Rk  ...         NaN          NaN          NaN
585  Player                NaN  Rk  ...         NaN          NaN          NaN
586  Player                NaN  Rk  ...         NaN          NaN          NaN
587  Player                NaN  Rk  ...         NaN          NaN          NaN
588  Player                NaN  Rk  ...         NaN          NaN          NaN
589  Player                NaN  Rk  ...         NaN          NaN          NaN
590  Player                NaN  Rk  ...         NaN          NaN          NaN
591  Player                NaN  Rk  ...         NaN          NaN          NaN
592  Player                NaN  Rk  ...         NaN          NaN          NaN
593  Player                NaN  Rk  ...         NaN          NaN          NaN
594  Player                NaN  Rk  ...         NaN          NaN          NaN
595  Player                NaN  Rk  ...         NaN          NaN          NaN

[56 rows x 14 columns]

In [183]:
df = df[df['Player'] != 'Player']
df.isna().sum().sort_values()

Player                  0
Rk                      0
From                    0
To                      0
G                       0
Passing Cmp             0
Passing Att             0
Passing Pct             0
Passing Yds             0
Passing TD              0
Passing Int             0
Passing Rate            0
School                175
starts_per_season    1198
dtype: int64

In [184]:
df['School'].fillna(value='multiple', inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [185]:
df.shape

(1400, 14)

In [0]:
avg = nfl['starts_per_season'].mean()

In [0]:
codes = []
for value in df['starts_per_season']:
  if value <= avg:
    codes.append('bad')
  elif value > avg:
    codes.append('good')
  else:
    codes.append('undrafted')

In [188]:
len(codes)

1400

In [189]:
df

                  Player  starts_per_season  ... Passing Int  Passing Rate
0             Drew Brees          14.421053  ...        12.0         132.4
4          Philip Rivers          14.000000  ...        34.0         144.1
5            Eli Manning          14.625000  ...        35.0         137.7
6     Ben Roethlisberger          13.500000  ...        34.0         151.3
7              Matt Ryan          15.750000  ...        37.0         126.3
...                  ...                ...  ...         ...           ...
1775        Jordy Joseph                NaN  ...         3.0         122.7
1776        Blake Jurich                NaN  ...         7.0         118.9
1777            Joe Kemp                NaN  ...         7.0         139.4
1778         Jeff Lockie                NaN  ...         5.0         121.9
1779        Carl Meadows                NaN  ...        10.0          94.4

[1400 rows x 14 columns]

In [190]:
codes = pd.Series(codes)
df['rank'] = codes.values
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  Player  starts_per_season  ... Passing Rate       rank
0             Drew Brees          14.421053  ...        132.4       good
4          Philip Rivers          14.000000  ...        144.1       good
5            Eli Manning          14.625000  ...        137.7       good
6     Ben Roethlisberger          13.500000  ...        151.3       good
7              Matt Ryan          15.750000  ...        126.3       good
...                  ...                ...  ...          ...        ...
1775        Jordy Joseph                NaN  ...        122.7  undrafted
1776        Blake Jurich                NaN  ...        118.9  undrafted
1777            Joe Kemp                NaN  ...        139.4  undrafted
1778         Jeff Lockie                NaN  ...        121.9  undrafted
1779        Carl Meadows                NaN  ...         94.4  undrafted

[1400 rows x 15 columns]

In [210]:
df1['rank'].value_counts(normalize=True)

undrafted    0.736025
bad          0.156832
good         0.107143
Name: rank, dtype: float64

In [192]:
df['pass_per_year'] = df['Passing Att']/(df['To']-df['From']+1)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                  Player  starts_per_season  ...       rank  pass_per_year
0             Drew Brees          14.421053  ...       good     473.000000
4          Philip Rivers          14.000000  ...       good     427.750000
5            Eli Manning          14.625000  ...       good     340.750000
6     Ben Roethlisberger          13.500000  ...       good     434.666667
7              Matt Ryan          15.750000  ...       good     336.500000
...                  ...                ...  ...        ...            ...
1775        Jordy Joseph                NaN  ...  undrafted      30.666667
1776        Blake Jurich                NaN  ...  undrafted      29.000000
1777            Joe Kemp                NaN  ...  undrafted      43.250000
1778         Jeff Lockie                NaN  ...  undrafted      46.666667
1779        Carl Meadows                NaN  ...  undrafted      86.500000

[1400 rows x 16 columns]

In [0]:
df1 = df[df['pass_per_year']>200]

In [194]:
df = df1
df

                  Player  starts_per_season  ...       rank  pass_per_year
0             Drew Brees          14.421053  ...       good     473.000000
4          Philip Rivers          14.000000  ...       good     427.750000
5            Eli Manning          14.625000  ...       good     340.750000
6     Ben Roethlisberger          13.500000  ...       good     434.666667
7              Matt Ryan          15.750000  ...       good     336.500000
...                  ...                ...  ...        ...            ...
1673     Lowell Narcisse                NaN  ...  undrafted     201.000000
1720           Dan Ellis                NaN  ...  undrafted     210.000000
1730        Mario Kinsey                NaN  ...  undrafted     202.000000
1759         Andy Chance                NaN  ...  undrafted     203.000000
1772      Jarrod Jackson                NaN  ...  undrafted     228.000000

[644 rows x 16 columns]

In [195]:
df['cmp_per_year'] = df['Passing Cmp']/(df['To']-df['From']+1)
df['yds_per_year'] = df['Passing Yds']/(df['To']-df['From']+1)
df['tds_per_year'] = df['Passing TD']/(df['To']-df['From']+1)
df['int_per_year'] = df['Passing Int']/(df['To']-df['From']+1)
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                  Player  starts_per_season  ... tds_per_year  int_per_year
0             Drew Brees          14.421053  ...        24.00     12.000000
4          Philip Rivers          14.000000  ...        23.75      8.500000
5            Eli Manning          14.625000  ...        20.25      8.750000
6     Ben Roethlisberger          13.500000  ...        28.00     11.333333
7              Matt Ryan          15.750000  ...        14.00      9.250000
...                  ...                ...  ...          ...           ...
1673     Lowell Narcisse                NaN  ...         8.00      5.000000
1720           Dan Ellis                NaN  ...         7.00      4.000000
1730        Mario Kinsey                NaN  ...         7.00     11.000000
1759         Andy Chance                NaN  ...         3.00      7.000000
1772      Jarrod Jackson                NaN  ...         6.00     12.000000

[644 rows x 20 columns]

In [196]:
df = df[df['From']<2017]
df.shape

(578, 20)

In [200]:
test = df[df['From']>np.percentile(df['From'], 75)]
train = df[df['From']<=np.percentile(df['From'], 75)]
print(train.shape) 
print(test.shape)

(451, 20)
(127, 20)

In [0]:
train, test = train_test_split(df, random_state=42, stratify=df['rank'])

In [245]:
print(train.shape) 
print(test.shape)

(433, 20)
(145, 20)

In [246]:
test.head()

                Player  starts_per_season  ... tds_per_year  int_per_year
458         Levi Brown               0.00  ...        19.00      6.000000
1004    Jonathan Smith                NaN  ...        15.50      8.500000
271     Curtis Painter               1.60  ...        16.75     11.500000
1394  Josh Blankenship                NaN  ...         7.00      8.500000
258      Brett Hundley               2.25  ...        25.00      8.333333

[5 rows x 20 columns]

In [0]:
 test = test.drop(['starts_per_season','To','From','Player','Rk','G','Passing Cmp','Passing Att','Passing Yds','Passing TD','Passing Int'], axis=1)

In [0]:
 train = train.drop(['starts_per_season','To','From','Player','Rk','G','Passing Cmp','Passing Att','Passing Yds','Passing TD','Passing Int'], axis=1)

In [0]:
target = 'rank'
X_train = train.drop(target, axis=1)
y_train = train[target]
X_test = test.drop(target, axis=1)
y_test = test[target]

In [252]:
X_train

                School  Passing Pct  ...  tds_per_year  int_per_year
802           multiple         57.7  ...     11.500000          5.25
483     Colorado State         54.5  ...     12.333333         10.00
903         Miami (FL)         59.2  ...      9.500000          7.75
1397        Penn State         52.8  ...     14.000000          8.00
535   Western Kentucky         68.6  ...     22.200000          6.80
...                ...          ...  ...           ...           ...
1294   Louisiana State         50.0  ...     17.000000         15.00
738           Illinois         63.0  ...     13.750000          9.25
950             Auburn         60.2  ...     17.000000          6.50
630   Washington State         58.4  ...     19.000000         10.75
604   Washington State         62.1  ...     22.500000         12.50

[433 rows x 8 columns]

In [257]:
import category_encoders as ce
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint, uniform

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    #ce.TargetEncoder(min_samples_leaf=1, smoothing=1),
    StandardScaler(),
    SimpleImputer(),  
    RandomForestClassifier(random_state=42, n_jobs=-1)
)

param_distributions = { 
    'simpleimputer__strategy': ['mean', 'median'], 
    'randomforestclassifier__n_estimators': randint(50, 500), 
    'randomforestclassifier__max_depth': [5, 10, 15, 20, None], 
    'randomforestclassifier__max_features': uniform(0, 1), 
}

search = RandomizedSearchCV(
    pipeline, 
    param_distributions=param_distributions, 
    n_iter=20, 
    cv=10, 
    scoring='accuracy', 
    verbose=10, 
    return_train_score=True, 
    n_jobs=-1
)

search.fit(X_train, y_train);

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    9.7s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:   14.2s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   16.1s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   22.5s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   25.9s
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:   29.7s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:   33.2s
[Parallel(n_jobs=-1)]: Done  81 tasks      | elapsed:   40.9s
[Parallel(n_jobs=-1)]: Done  94 tasks      | elapsed:   45.8s
[Parallel(n_jobs=-1)]: Done 109 tasks      | elapsed:   52.7s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:   57.6s
[Parallel(n_jobs=-1)]: Done 141 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 177 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  1.8min finished

In [258]:
print('Best hyperparameters', search.best_params_)
print('Cross-validation Accuracy', search.best_score_)

Best hyperparameters {'randomforestclassifier__max_depth': 5, 'randomforestclassifier__max_features': 0.1063025973894196, 'randomforestclassifier__n_estimators': 79, 'simpleimputer__strategy': 'median'}
Cross-validation Accuracy 0.7067124735729388

In [0]:
pipeline = search.best_estimator_

In [260]:
from sklearn.metrics import accuracy_score
y_pred = pipeline.predict(X_test)
score = accuracy_score(y_test, y_pred)
score

0.7310344827586207